<div class="container">
    <div class="row">
        <div class="col">
            <app-form-input
                [inputHeading] = "'Account Number'"
                [placeholder] = "'Type here'"     
                [displayText] = "''"           
            ></app-form-input>
        </div>
        <div class="col">
            <app-form-input
                [inputHeading] = "'Company name'"
                [placeholder] = "'Type here'"     
                [displayText] = "''"           
            ></app-form-input>
        </div>
        <div class="col">
            <app-form-input
                [inputHeading] = "'Company Code'"
                [placeholder] = "'Type here'"     
                [displayText] = "''"           
            ></app-form-input>
        </div>
    </div>
</div>

